body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
    margin-top: 100px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
input[type="file"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #fdf9f99d;
    border-radius: 5px;
    box-sizing: border-box; /* Garante que a largura inclua o preenchimento e a borda */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

textarea {
    resize: vertical;
}

button {
    width: 50%;
    padding: 10px;
    background-color: #c9cacc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

button:hover {
    background-color: #0056b3;
}

button[type="button"] {
    width: auto;
    margin-top: 10px;
    background-color:#111bad;
}

button[type="button"]:hover {
    background-color: #111bad;
}

.no-print {
    display: none;
    color: #fff;
}

@media screen {
    .print-button {
        display: block;
    }
}

@media print {
    .print-button {
        display: none;
        text-emphasis-color: #fff;
    }
}

/*trata com o estilo do footer*/
.footer {
    background-color: rgba(19, 19, 19, 0.506);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
